.vscode/*
penguins.exe
board-example-result.txt
board-example-initial.txt
board-example-initial.txt
board-example-initial-1.txt
board-example-initial-2.txt
board-example-initial-incorrect.txt
autonomous.exe
res2.txt
move.txt
board-example-initial.txt